.gradle/1.9/taskArtifacts/cache.properties
.gradle/1.9/taskArtifacts/fileHashes.bin
.gradle/1.9/taskArtifacts/outputFileStates.bin
.gradle/1.9/taskArtifacts/cache.properties.lock
.gradle/1.9/taskArtifacts/taskArtifacts.bin
.gradle/1.9/taskArtifacts/fileSnapshots.bin
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/.name
.idea/encodings.xml
.idea/findbugs-idea.xml
.idea/gradle.xml
.idea/libraries/Gradle__hamcrest_core_1_3.xml
.idea/*
net.future118.ecm.core/.gradle/*
net.future118.ecm.core/gradle/*
net.future118.ecm.core/net.future118.ecm.core.iml
net.future118.ecm.core/gradlew
net.future118.ecm.iml
net.future118.ecm.core/gradlew.bat
gradlew.bat
gradlew
gradle/wrapper/*
